<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        text-align: center;
    }
</style>
<body>
    <form method="POST">
        {% csrf_token %}
        <p><label for="">Tài Khoản: </label>{{form.username}}</p>
        <p><label for="">Mật Khẩu: </label>{{form.password}}</p>
        <input type="hidden" name="next" value="/">
        <input type="submit" value="Đăng nhập">
        {% for key, value in form.errors.items %}
        <!-- {{value}} -->
        Tài khoản hoặc mật khẩu không chính xác !!!
        {% endfor %}
    </form>
</body>
</html>